body{
 background: #69c
}
.border{
width: 300px
}
.border .content{
 padding: 20px;
 background: #ffc
}
.border .png{
 padding: 20px;
 background: #ffc;
}
.border .png{

}
.border .top{

}.border .png i{

}
.border .png b{

}
