!!!5
%html
    %head
        %title Haml-example
        %meta{:charset=>"utf-8"}
    %body
        %header Шапка сайта
        %main
            %h1 Заголовок стр
            %p.myclass ads;fljkasfd;lksajf;laskjf;laskj
        %footer
            %div#myid Подвал сайта