* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
}

.parent {
    display: flex;
    width: 800px;
    margin: 100px auto;
    background: #eee;
    /*justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;*/
    justify-content: space-between;
}

.child {
    display: block;
    width: 100px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: yellow;
}

.child-wide {
    width: 150px;
}

.center {
    display: flex;
    width: 500px;
    height: 500px;
    background: lightseagreen;
    margin: 100px auto;
}

.mini-center {
    margin: auto;
    width: 100px;
    height: 100px;
    background: yellow;
}