/comment
!!! 5
%html
    %head
        %meta{:charset=>"utf-8"}
        %title Заголовок страницы
        %link{:rel=>"stylesheet", :href=>"styles.css"}
    %body
        %header Шапка сайта
        %main
            %span.mytext hello
            %h1#myid заголовок
            %p основной блок
            %div.abc
        %footer Подвал