$menu-element-height: 80px;
$menu-element-width: 150px;
$link-color: orange;

* {
    margin: 0;
    padding: 0;
    font-size: 0;
    border: 0;
    outline: 0;
}

@mixin adaptive($media) {
    @if $media == smart {
        @media only screen and(max-width: 480px) {@content}
    }

    @else if $media == tablet {
        @media only screen and (min-width: 480px) and (max-width: 1024px) {@content}
    }

    @else if $media == pc {
        @media only screen and (min-width: 1025px) {@content}
    }
}

header {
    height: 80px;
    background: lightcyan;
}

.logo {
    font-size: 24px;
    position: relative;
    top: 10px;
    left: 10px;
}

.menu-button {
    width: 48px;
    height: 48px;
    font-size: 24px;
    text-align: center;
    line-height: 48px;
    background: linear-gradient(#fff, #00ff00);
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
    cursor: pointer;

    &::selection {
        background: transparent;
    }

    &:hover {
        background: linear-gradient(#00ff00, #fff);
    }

    @include adaptive(smart) {
        display: block;
    }

    @include adaptive(tablet) {
        display: block;
    }
}

.left-to-rigth {
    display: inline-block;
    vertical-align: top;
}

.menu {
    display: block;

    @include adaptive(smart) {
        display: none;
    }

    @include adaptive(tablet) {
        display: none;
    }
}

.menu-element {
    @extend .left-to-rigth;
    width: $menu-element-width;
    height: $menu-element-height;
    background: lightgray;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 10px;

    @include adaptive(smart) {
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }

    @include adaptive(tablet) {
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }
}

.menu-link {
    font-size: 16px;
    display: block;
    background-color: $link-color;
    height: $menu-element-height;
    width: $menu-element-width;
    text-align: center;
    line-height: $menu-element-height;
    text-decoration: none;

    &:hover {
        background: lighten($link-color, 10%);
    }

    &:active {
        background: darken($link-color, 10%);
    }

    @include adaptive(smart) {
        width: 100%;
        text-align: center;
        line-height: $menu-element-height;
    }

    @include adaptive(tablet) {
        width: 100%;
        text-align: center;
        line-height: $menu-element-height;
    }
}

main {
    height: 200px;
    background: yellow;
}

.show {
    display: block;
}