@import "vendor"

body
    color #555
    background #fff

.myblock
    vendorize(border-radius, 10px)
    height 100px
    background: #00a1ff

.box
    border-radius  10px
    height 100px
    background: #ff01df