html, body {
    height: 100%;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
}

.slide {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slide1 {
    background-image: url(img/1.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.slide2::before {
    position: absolute;
    content: '';
    width: 100vw;
    height: 100vh;
    background-image: url(img/2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
    transform: translateZ(-2px) scale(3);
}

.slide3 {
    background-image: url(img/3.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}